<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Login for User</h5>
      <form>
        <div class="form-group">
          <label for="user_email">Email address</label>
          <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="user_password">Password</label>
          <input type="password" class="form-control" id="user_password" placeholder="Password">
        </div>
        <a routerLink="/dashboard_user" routerLinkActive="active"> <button type="submit" class="btn btn-primary">Submit</button></a>
        <a routerLink="/register_user" routerLinkActive="active"> <button type="submit" class="btn btn-primary">New Account</button> </a>
      </form>
    </div>
  </div>
</div>
