<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Login for Owners</h5>
      <form>
        <div class="form-group">
          <label for="business_id">Business Id</label>
          <input type="text" class="form-control" id="business_id" placeholder="Enter Business Id" [(ngModel)] = "business_owner" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="owner_password">Password</label>
          <input type="password" class="form-control" id="owner_password" placeholder="Password" [(ngModel)] = "password_owner" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-primary" (click)="loginOwner()">Submit</button>
        <a routerLink="/register_owner" routerLinkActive="active"> <button type="submit"  class="btn btn-primary">New Account</button> </a>
      </form>
    </div>
  </div>
</div>
