<div class="list-container row">
  <div class="col">
    <input class="form-control" type="text" placeholder="Zip Code" [ngModel]="zipCode">
  </div>
  <div class="col">
    <div class="input-group mb-3">

      <select class="custom-select" id="quarter-dropdown" [(ngModel)]="selectedQuarter">
        <option value="{{q.value}}" *ngFor="let q of quarters" [selected]="q.value == '2'">{{q.name}}</option>
      </select>
      <div class="input-group-append">
        <label class="input-group-text" for="quarter-dropdown">Quarter</label>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="year-dropdown">Year</label>
      </div>
      <select class="custom-select" id="year-dropdown" [(ngModel)]="selectedYear">
        <option *ngFor="let y of years" [selected]="selectedYear == y">{{y}}</option>
      </select>
    </div>
  </div>
  <div class="w-10">
    <button type="button" class="btn btn-primary" (click)="search()">Go</button>
  </div>



</div>

