<div class="container app-container">
  <div class="w-50">
    <div class = "card" >
      <div class = "card-body">
        <h3 class = "card-title">Restaurant Owner Registration</h3>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <label for="restId">Restaurant ID</label>
            <input type="text" class="form-control" id="restId" placeholder="Restaurant ID">
          </div>
          <div class="form-group">
            <label for="user_email">Email</label>
            <input type="email" class="form-control" id="user_email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" class="form-control" id="user_password" placeholder="Password">
          </div>
          <a routerLink="/home" routerLinkActive="active"> <button type="submit" class="btn btn-primary">Sign in</button>></a>
        </form>
      </div>
    </div>
  </div>
</div>

